<html>
    <head>
        <title>glam up</title>
        <link rel="stylesheet" href="/project/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <!-- first nav bar -->
            <div>
                <ul class="nav justify-content-center text-bg-dark "style="height: 60px;">
                    <li class="nav-item">
                      <a class="nav-link fs-5  text-white"  href="/project/templates/facehome.html">FACE</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link fs-5 ms-5 text-white" href="/project/templates/bodyhome.html">BODY</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link fs-5 ms-5 text-white" href="/project/templates/hairhomme.html">HAIR</a>
                    </li>
                  </ul>
            </div>

            <!-- PRODUCTS -->

            <div class="container">
                <div class="row pt-5">

                  <div class="col-4 card mt-2" style="width: 18rem;">
                    <img src="/project/static/hair/conditinor/cod01.jpg" class="card-img-top"style="height: 300px;" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">TRESEMME - conditinor</h5><br>
                      <p class="card-text">Net-wt  of 600 ml </p>
                      <h5>₹700</h5>
                      <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>

                  <div class="card col-4 ms-5 mt-2" style="width: 18rem;">
                    <img src="/project/static/hair/conditinor/cod02.jpg" class="card-img-top" style="height: 300px;" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">CLEAR - conditinor</h5><br>
                      <p class="card-text">Net-wt  of 600 ml </p>
                      <h5>₹600</h5>
                      <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>

                  <div class=" col-4 card ms-5 mt-2" style="width: 18rem;">
                    <img src="/project/static/hair/conditinor/cod03.jpg" class="card-img-top"style="height: 300px;" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">AMERICAN CREW - conditinor</h5>
                      <p class="card-text">Net-wt  of 600 ml </p>
                      <h5>₹750</h5>
                      <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>

                  <div class=" col-4 card ms-5 mt-2" style="width: 18rem;">
                    <img src="/project/static/hair/conditinor/cod04.jpg" class="card-img-top"style="height: 300px;" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">DOVE - conditinor</h5><br>
                      <p class="card-text">Net-wt  of 600 ml </p>
                      <h5>₹800</h5>
                      <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>
                </div>

                <!-- second row -->
                <div class="row pt-5">
                    
                  <div class="col-4 card mt-2" style="width: 18rem;">
                    <img src="/project/static/hair/conditinor/cod05.jpg" class="card-img-top"style="height: 300px;" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">LOREAL - conditinor</h5>
                      <p class="card-text">Net-wt  of 600 ml </p>
                      <h5>₹900</h5>
                      <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>

                  <div class="card col-4 ms-5 mt-2" style="width: 18rem;">
                    <img src="/project/static/hair/conditinor/cod06.jpg" class="card-img-top" style="height: 300px;" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">REDKEN - conditinor</h5>
                      <p class="card-text">Net-wt  of 600 ml </p>
                      <h5>₹600</h5>
                      <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>

                  <div class=" col-4 card ms-5 mt-2" style="width: 18rem;">
                    <img src="/project/static/hair/conditinor/cod07.jpg" class="card-img-top"style="height: 300px;" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">BIOLAGE - conditinor</h5>
                      <p class="card-text">Net-wt  of 600 ml </p>
                      <h5>₹760</h5>
                      <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>

                  <div class=" col-4 card ms-5 mt-2" style="width: 18rem;">
                    <img src="/project/static/hair/conditinor/cod08.jpg" class="card-img-top"style="height: 300px;" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">BED HEAD - conditinor</h5>
                      <p class="card-text">Net-wt  of 600 ml </p>
                      <h5>₹800</h5>
                      <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>
                </div>
 
            
        </div>
        
    </body>
</html>